<!-- <div class="container-wrapper"> -->
    <div class="card w-100 p-0">
        <div class="card-header">
            <h5 class="card-title col-sm-4">Home</h5>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-sm-3">
            <div class="card pink-gradient">
                <div class="users-card card-body">
                    <img src="../img/iconos/user.png" class="img-user" alt="">
                    <p class="card-text">86</p>
                    <p class="brokrs mb-0">BROKRS</p>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-sm-3">
            <div class="card p-0 green-gradient ">
                <div class="card-body p-0 b-none">
                    <img src="../img/xls.png" class="img-export" alt="">
                    <a href="#" class="btn-export d-inline">Exportar Brokers</a>
                </div>
            </div>
        </div> -->
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <div class="card p-0">
                <div class="card-body p-0 b-none">
                    <a href="#" class="btn btn-dark w-100 h-100">Agregar Propiedades</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card w-100 p-0">
            <div class="card-body w-40 h-40">
                    <h5 class="text-gofeel card-title col-sm-4">Editor de Home</h5>
                    <p class="text-gofeel">Selecciona las propiedades que aparecen en la sección de Popiedades populares en el home.
                       Busca y selecciona las propiedades que deseas tener al prinicipio de la lista
                    </p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ORDEN</th>
                            <th scope="col">OPERACIÓN</th>
                            <th scope="col">DIRECCIÓN</th>
                            <th scope="col">VALOR</th>
                            <th scope="col">TIPO</th>
                            <th scope="col">FECHA</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">3</th>
                            <td>Venta</td>
                            <td>Ciudad de México Iztapalapa, San Sebastián Tecoloxtitla CP09520, Los Ángeles #83</td>
                            <td>150,000 MXN</td>
                            <td>Casa</td>
                            <td>2019-03-12T11:49:26.000Z</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Venta</td>
                            <td>Ciudad de México Miguel Hidalgo, Verónica Anzures CP11300, Bahía Magdalena #138</td>
                            <td>2,000,000 MXN</td>
                            <td>Departamento</td>
                            <td>2019-03-03T22:26:49.000Z</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Venta</td>
                            <td>Ciudad de México Miguel Hidalgo, Verónica Anzures CP11300, Bahía de Ballenas #120</td>
                            <td>7,000,000 MXN</td>
                            <td>Departamento</td>
                            <td>2019-03-03T21:27:27.000Z</td>
                        </tr>
                    </tbody>
                </table>
                <div class="footer">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    <!-- </div> -->