<!-- <div class="container-wrapper"> -->
        <div class="card w-100 p-0">
                <div class="card-header">
                    <h5 class="card-title col-sm-4">Propiedades</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card pink-gradient">
                        <div class="users-card card-body">
                            <img src="../img/iconos/home.png" class="img-user" alt="">
                            <p class="card-text">27</p>
                            <p class="brokrs mb-0">Propiedades en total</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card p-0 green-gradient ">
                        <div class="card-body p-0 b-none">
                            <img src="../img/xls.png" class="img-export" alt="">
                            <a href="#" class="btn-export d-inline">Exportar Propiedades</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <div class="card p-0">
                        <div class="card-body p-0 b-none">
                            <a href="#" class="btn btn-dark w-100 h-100">Nueva Propiedad</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card w-100 p-0">
                    <div class="card-body w-40">
                        <input type="text" class="form-control w-25" placeholder="Buscar propiedades">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">BROKER</th>
                                    <th scope="col">OPERACIÓN</th>
                                    <th scope="col">DIRECCIÓN</th>
                                    <th scope="col">VALOR</th>
                                    <th scope="col">TIPO</th>
                                    <th scope="col">FECHA</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Activo</th>
                                    <td>Laura Gonzalez</td>
                                    <td>Venta</td>
                                    <td>Michoacán de Ocampo Alvaro Obegón, San Pedro de los Pinos CP01180, Periferico #180</td>
                                    <td>500,000 MXN</td>
                                    <td>Edificio</td>
                                    <td>2019-02-28T15:33:58.000Z</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Activo</th>
                                    <td>Jorge Manzur</td>
                                    <td>Venta</td>
                                    <td>México Huixquilucan, La Herradura CP52784, Boque de Moctezuma #16</td>
                                    <td>5,000,000 USD</td>
                                    <td>Casa</td>
                                    <td>2019-02-28T15:33:19.000Z</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Finalizado</th>
                                    <td>Administrador 2</td>
                                    <td>Traspaso</td>
                                    <td>321 321, 3213 CP321, 321 #321</td>
                                    <td>321 MXN</td>
                                    <td>Departamento</td>
                                    <td>2019-02-28T15:49:26.000Z</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="footer">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            <!-- </div> -->