<h1 id="welcome">Bienvenido</h1>
<p id="login">Inicia sesión para ingresar a tu cuenta</p>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1" class="exampleInput">Correo</label>
        <input type="email" class="form-control1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su correo">
    </div>
    <br>
    <br>
    <div class="button">
        <button type="submit" class="btn btn-danger mx-auto d-block" id="buttonLogin">Entrar</button>
    </div>
    <br>
    <br>
    <a href="../index.html" id="return">Regresar</a>
</form>
</div>
</div>
