<div class="card w-100 p-0">
        <div class="card-header">
            <h1>SOS</h1>
            <h5 class="card-title col-sm-4 d-inline">Llamadas SOS</h5>
            <!-- <p class="d-inline">Notaria</p> -->
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-sm-3">
            <div class="card pink-gradient">
                <div class="users-card card-body">
                    <img src="../img/iconos/user.png" class="img-user" alt="">
                    <p class="card-text">86</p>
                    <p class="brokrs mb-0">BROKRS</p>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-sm-3">
            <div class="card p-0 green-gradient ">
                <div class="card-body p-0 b-none">
                    <img src="../img/xls.png" class="img-export" alt="">
                    <a href="#" class="btn-export d-inline">Exportar Brokers</a>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <div class="card p-0">
                <div class="card-body p-0 b-none">
                    <a href="#" class="btn btn-dark w-100 h-100">Nueva pregunta</a>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row">
        <div class="card w-100 p-0">
            <div class="card-body w-40">
                <h5 class="card-title col-sm-4">Documentos de apoyo</h5>
                <!-- <select class="form-control w-25">
                    <option value="all" selected>Todos</option>
                    <option value="5c51e1f7dfff353c9fe0a639">Go Feel</option>
                    <option value="5c51e1f7dfff353c9fe0a63a">Go Grow</option>
                    <option value="5c51e1f7dfff353c9fe0a63b">Go Develop</option>
                </select>
                <input type="text" class="form-control w-25" placeholder="Buscar Brokr"> -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">STATUS</th>
                            <th scope="col">BROKER</th>
                            <th scope="col">RANKING</th>
                            <th scope="col">TELÉFONO</th>
                            <th scope="col">CORREO</th>
                            <th scope="col">FECHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Daniel Romero</td>
                            <td></td>
                            <td></td>
                            <td>david.romero@admin.mx</td>
                            <td>@2019-02-28T13:27:00.000Z</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jorge Marquez </td>
                            <td></td>
                            <td></td>
                            <td>jorge.marquez@admin.mx</td>
                            <td>2019-02-28T13:27:00.000Z</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Administrador 1</td>
                            <td></td>
                            <td></td>
                            <td>admin.uno@gobrokr.mx</td>
                            <td>2019-02-28T13:27:00.000Z</td>
                        </tr>
                    </tbody>
                </table>
                <div class="footer">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
